.Home {
  margin-left: 200px;
}

.Home h1 {
  text-align: center;
  background-color: #FFFF00;
  height: '50px';
  font-size: '30px';
  align-content: 'center';
}

.Home p {
  text-align: center;
  font-size: 100px;
}
